/************************************
		    BOOTSTRAP CSS
************************************/

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}


/************************************
		    CUSTOM CSS
************************************/

/************************************
		    HEADER CSS
************************************/

/*a.insert::before {
	content: url('../img/brand/icon.jpg');
	margin-left: -20px;
}*/

/************************************
		    HOME PAGE
************************************/

body {
	background: url('../img/homepage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

div.home {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	position: absolute;
	top: -7.5%;
	left: 0;
}

img.iconresize {
	height: 70px;
	width: 70px;
	margin: 135px 0 0 80px;
	position: relative;
	top: -55px;
}

span.appname {
	font-family: lobster, 'lucida calligraphy' cursive;
	color: white;
	font-size: 8em;
	position: relative;
	top: 50px;
	left: 20px;
}

div.quote {
	margin-top: -20px;
	margin-right: 20px;
	width: 40%;
	font-family: arial, sans-serif;
	color: white;
	font-size: 2em;
	position: relative;
	float: right;
	top: 180px;
}

a.outer {
	position: absolute;
	bottom: 0;
	background-color: #a00;
	color: white;
	left: 0;
	width: 100%;
	cursor: auto;
}

a.movedown {
	position: relative;
	top: 617px;
	left: 127px;
}

a.movedown:hover {
	color: black;
}

/*a.dropdown-toggle {
	color: #a00;
}
*/