/************************************
		    HEADER CSS
************************************/

div.logo_name {
	/*background-color: yellow;*/
	/*margin-top: 0;*/
	position: relative;
	left: -135px;
	top: -160px;
}

a.dropdown-toggle {
	font-family: 'comic sans MS';
	color: #a00;
	background-color: black;
	position: relative;
	right: 30px;
	top: 0;
}

nav > li.floatRight {
	list-style: none;
}

nav > li.floatRight a {
	list-style: none;
	color: #a00 !important;
	padding-top: 15px;
	background-color: black;
	width: 160px;
	height: 50px;
	margin-right: 0;
	padding-right: 0;
	padding-left: 20px;
	position: absolute;
	right: -17px;
}

nav > li.floatRight a:hover {
	text-decoration: none;
	background-color: white;
	opacity: .7;
}

/************************************
		     BODY CSS
************************************/

body {
	overflow: hidden;
}

section.repaint {
	background-color: white;
	padding: 20px 50px 20px 20px;
	margin-top: 30px;
}

option.itemadd{
	font-family: arial, sans-serif;
	color: black;
}

div.flex {
	width: 100%;
}

div.moveup {
	margin-top: -20px;
}

div.listitem {
	width: 25%;
	padding: 10px;
	color: black;
}

input#resize {
	width: 200px;
	margin-bottom: 20px;
}

input#btnresize {
	margin-bottom: 20px;
}

span.colored, span.colorChange {
	padding: 5px 15px 5px 10px;
	color: white;
}

.colored {
	background-color: #040;
}

.colorChange {
	background-color: #a00;
}

img.resizeicon {
	height: 40px;
	width: 40px;
}

div.listedItems {
	overflow: auto;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	background-color: rgba(240, 240, 240, .7);
	height: 300px;
}

div.itemHover {
	height: 40px;
	background-color: rgba(240,240, 240, .7);
}

div.itemHover:hover {
	background-color: rgb(200, 200, 200);
}

div.marginUp {
	margin-top: -200px;
}