section.repaint {
	background-color: white;
	padding: 20px 50px 20px 20px;
	margin-top: 30px;
}

option.itemadd{
	font-family: arial, sans-serif;
	color: red;
}

div.flex {
	width: 100%;
}

div.moveup {
	margin-top: -20px;
}

div.listitem {
	width: 25%;
	padding: 10px;
	color: black;
}

input#resize {
	width: 200px;
	float: right;
	margin-bottom: 20px;
}

input#btnresize {
	margin-bottom: 20px;
}

span.colored, span.colorChange {
	padding: 5px 15px 5px 10px;
	color: white;
}

.colored {
	background-color: #040;
}

.colorChange {
	background-color: #b00;
}

img.resizeicon {
	height: 40px;
	width: 40px;
}

/*div.alignright {
	position: relative;
	left: 75%;
}*/