/***********************************
			BOOTSTRAP CSS
************************************/

.nav-users {
	position: fixed;
}

.remove-account-container {
	display: inline-block;
	position: relative;
}

.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

/************************************
		    WRITEUP BOX
************************************/

div.alignleft {
	margin-top: 20px;
	font-size: 2em;
	width: 50%;
	/*background-color: green;*/
	position: absolute;
}

/************************************
		  	SIGNIN BOX
************************************/

#username, #password {
	width: 75%;
	margin: 0 auto;
}

#username {
	margin-top: 30px;
}

#password {
	margin-top: -15px;
}

button.width {
	display: block;
	width: 75%;
	margin: 0 auto;
	border-radius: 0;

}

/* Similar Sign Up Design */

button.widthUp, button.widthUp_signup {
	display: block;
	width: 75%;
	margin: 0 auto;
	background-color: #a00;
	border-radius: 0;
	color: white;
}

button.widthUp_signup {
	display: inline-block;
	width: 30%;
}

button.widthUp_signup:hover {
	background-color: #900;
	color: white;
}

div.wrap {
	height: 400px;
	width: 300px;
	background-color: rgb(240, 240, 240);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	box-shadow: 0 0 2px black;
	padding-top: 0;
}

a.space {
	float: right;
	margin-top: 5px;
	margin-right: 35px;
	margin-top: 10px;
}

a.spaceUp {
	color: white;
}

div.surround {
	margin-top: 15px;
	}

strong.centralize {
	margin: 0 auto;
	color: #666;
	position: relative;
	top: -16px;
	left: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

hr {
	width: 35%;
	display: inline-block;
	border-width: 1px; 
	border-color: #ccc;
	margin-top: 10px;
	position: relative;

}

hr.fullLength {
	width: 80%;
	position: relative;
	top: 15px;
}

div.writeup {
	margin-top: 10px;
}

img.icon {
	height: 30px;
	width: 30px;
	padding: 5px;
}

/************************************
		  APPLICATION NAME
************************************/

div.logoname {
	margin-top: -30px;
}

/************************************
		  	SIGNUP BOX
************************************/

div.signup {
	background-color: rgb(240, 240, 240);
	width: 30%;
	margin-top: 30px;
	padding: 10px 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	position: relative;
	right: 50px;
}

div.logoname_signup {
	padding-bottom: 20px;
}

div.down {
	margin-top: 20px;
}

fieldset.signupFieldset {
	padding-left: 20px;
	padding-right: 20px;
}

a.red {
	color: #a00;
}

/************************************
		  EDIT PROFILE BOX
************************************/

div.editProfile {
	background-color: rgb(240, 240, 240);
	width: 25%;
	/*margin: 0 auto;*/
	padding: 10px 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	position: relative;
	right: 50px;
	box-shadow: 0 0 10px #a00;
}

div.surroundH3 {
	/*width: 100%;*/
	/*margin-top: 20px;*/
	height: 50px;
	background-color: green;
}

h3.titleColor {
	background-color: #a00;
	color: white;
	/*margin-top: -1px;*/
	width: 20%;
}

button.redBg {
	background-color: #a00;
	color: white;
}
